{% comment %}theme-check-disable{% endcomment %}
<div is="multi-currency-converter"></div>
{% if app.metafields.myshopkit_multi_currency != blank %}
{% assign stickySettings = app.metafields.myshopkit_multi_currency %}
<script id="myshopkit-currency-converter-js" type="application/json">
	{{ stickySettings | json }}
</script>
{% else %}
<script id="myshopkit-currency-converter-js">
	const url = "https://multicurrency.myshopkit.app/vge/mskmc/v1/me/settings";
	fetch(url, {
		headers: {
			"X-Shopname": "{{ shop.permanent_domain }}",
		}
	})
		.then(res => res.json())
		.then(result => {
			if (result.status === 'success') {
				window.myshopkitCurrencyConverterSettings = {
					settings: result.data
				};
			}
		})
		.catch(err => {
			console.log(err);
		});
</script>
{% endif %}

<script id="JS_MULTI_CURRENCY_CONVERTER">
	(function () {
		function objectParse(value) {
			const val = value.trim();
			if (/^{|\[/g.test(val)) {
				try {
					const fn = new Function(`return ${val}`);
					const obj = fn();
					return JSON.parse(JSON.stringify(obj));
				} catch {
					if (/^\[/g.test(val)) {
						return [];
					}
					return {};
				}
			} else {
				return {};
			}
		}

		const metaFieldData = document.querySelector(
			"#myshopkit-currency-converter-js[type='application/json']"
		);

		if (metaFieldData) {
			window.myshopkitCurrencyConverterSettings = objectParse(metaFieldData.textContent);
		}

		window.BACKDOOR = localStorage.getItem("backdoor");
		const jsFile = !!document.querySelector(
			'script[src*="multi-currency-converter.js"]'
		);
		console.log("Multi currency converter's initializing", jsFile);
		if (!jsFile) {
			const MULTI_CURRENCY_CONVERTER_MAIN = () => {
				if (window.BACKDOOR !== "disableJs") {
					const script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "https://currency-converter-client.netlify.app/main.js";
					script.defer = true;
					document.body.appendChild(script);
					script.addEventListener("load", () => {
						console.log("Multi currency converter loaded");
					});
					script.addEventListener("error", (e) => {
						console.log("Multi currency converter load failed", e);
					});
				}
				const interval = setInterval(() => {
					try {

						const bodyThemeName = `myshopkit-multi-currency-${window.Shopify.theme.name.toLowerCase().replaceAll(' ', '-')}`;
						document.body.classList.add(bodyThemeName);

						if (document.body.className.includes(bodyThemeName)) {
							clearInterval(interval);
						}
					} catch { }
				}, 500);
			}
			MULTI_CURRENCY_CONVERTER_MAIN();
		}

	})();

</script>
{% schema %}
{
  "name": "Multi Currency Converter",
  "target": "body",
  "javascript": "multi-currency-converter.js"
}
{% endschema %}
